{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Grão&Vida
{% endblock %}

{% block head %}
<style>
    #id_email{
    width: 100%;
    color: #000000;
    padding: 7px 7px;
    }
</style>
{% endblock %}

{% block content %}
    <header class="min-h-screen bg-black bg-opacity-50 bg-blend-overlay showcase border-while-600 border-b-4 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'images/produtos-a-granel2.jpg' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-5xl w-10/12 md:w-3/4 text-center py-3">
                Um novo conceito de alimentação saudável
            </h1>
            <h2 class="font-semibold text-black-600/200 text-2xl py-3">
                Tudo o que você precisa para cuidar da sua saúde com uma ótima alimentação e suplementação
            </h2>
            <h4 class="text-xl md:text-lg pb-2">
                Quer saber mais? Coloque seu e-mail abaixo para acessar.
            </h4>

            <div class="w-full flex justify-center ">
                <div class="flex justify-center items-center  w-11/12 md:w-10/12">
                    <form method="post" class="w-6/12 justify-center">
                        {% csrf_token %}
                        <div class="flex flex-grow items-stretch">
                            {{ form }}
                        <button class="bg-[#B8CD10] font-medium md:font-normal flex justify-center items-center py-2 px-3 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl" type="submit">
                            <span>
                                Acessar
                            </span>
                            <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                        </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </header>

    <section class='flex flex-col md:flex-row items-center border-while border-b-4' style="min-height: 70vh;">
        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10 ">
            <h5 class="md:text-4xl font-semibold mb-4">
                Somos comprometidos em levar até você, saúde, bem-estar e qualidade de vida com os nossos produtos voltados para o auxílio da boa alimentação
            </h5>
            <h4 class="md:text-xl text-lg">
                Faça parte do mundo Grão & Vida!
            </h4>
        </div>
        <div class='md:w-1/2 flex justify-center items-center'>
            <img src="{% static 'images/graoevida.png' %}" class="w-8/12" alt="">
        </div>
    </section>

    <section class='flex flex-col md:flex-row items-center border-while border-b-4' style="min-height: 70vh;">

        <div class=" flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h5 class="md:text-4xl font-semibold mb-4">
                Consumir alimentos adequados faz toda a diferença na saúde e na vida,
                promovendo o bem-estar físico, mental e social.
            </h5>
        <div class=" flex flex-col  md:text-left p-2 md:p-10">
            <h3 class="md:text-xl text-lg ">
                <p>Se você não está tendo a produtividade que gostaria, tem sofrido com a insônia, apresenta excesso de sonolência,
                    indisposição, tem quadros de ansiedade e até mesmo taquicardia, o problema pode estar em sua alimentação.
                    Isso porque a boa alimentação tem influência direta no bem-estar.</p>
                <p>Uma boa alimentação deve ser composta por vitaminas, fibras, carboidratos de baixos teor glicêmico
                    e densidade calórica, encontrados em alimentos não processados ou minimamente processados – como farinhas, sucos,
                    leite etc. eles são responsáveis por fornecer energia e nutrientes ao corpo, produzem hormônios como endorfinas e serotoninas,
                    responsáveis pela sensação de felicidade, e também possuem grandes benefícios para a pele e aos olhos.</p>
                <p>Ingerir alimentos saudáveis é sinônimo de diversidade, no preparo das refeições é importante se atentar a cada ingrediente, evite os
                    ultraprocessados, que além de terem baixíssimos valores nutricionais, possuem alta concentração de gordura, sal e açúcar e estão
                    associados à obesidade, diabetes e doenças cardíacas.</p>
                <div class="text-center font-semibold p-4">
                    <p>Essas foram algumas informações sobre a alimentação saudável para a sua vida. </p>
                    <p>Agora que você já sabe dos benefícios de uma boa alimentação, que tal começar agora?</<p>
                </div>
            </h3>
        </div>
        </div>

    </section>

    <section class='flex flex-col md:flex-row items-center border-while border-b-4' style="min-height: 70vh;">
        <div class="md:w-1/2 flex flex-col justify-center text-center md:text-left p-5 md:p-10">
            <h3 class="md:text-5xl text-4xl font-semibold mb-4">
                Venha conhecer a nossa loja!
            </h3>
            <h5 class="md:text-xl text-lg">
                Rua Coronel Pereira Sobrinho, 228 - Porto, Muriaé- MG
            </h5>
        </div>
        <div class='md:w-1/2 flex justify-center items-center'>
            <img src="{% static 'images/localizacao.png' %}" class="w-8/12" alt="">
        </div>
    </section>
    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">

            <li>&copy; 2022</li>
            <li>Python (Django)</li>
            <li>JéssicaXavier</li>
        </ul>
    </footer>


{% endblock %}